tr
	{mso-height-source:auto;
	mso-ruby-visibility:none;}
col
	{mso-width-source:auto;
	mso-ruby-visibility:none;}
br
	{mso-data-placement:same-cell;}
ruby
	{ruby-align:left;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:新細明體, serif;
	mso-font-charset:136;
	border:none;
	mso-protection:locked visible;
	mso-style-name:一般;
	mso-style-id:0;}
.font6
	{color:windowtext;
	font-size:16.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;}
.font9
	{color:windowtext;
	font-size:16.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:細明體, monospace;
	mso-font-charset:136;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:新細明體, serif;
	mso-font-charset:136;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	color:#ED7D31;
	font-size:16.0pt;
	font-weight:700;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;}
.xl66
	{mso-style-parent:style0;
	color:#ED7D31;
	font-size:16.0pt;
	font-weight:700;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:1.5pt solid #ED7D31;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid #ED7D31;}
.xl67
	{mso-style-parent:style0;
	color:#ED7D31;
	font-size:16.0pt;
	font-weight:700;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:1.5pt solid #ED7D31;
	border-right:none;
	border-bottom:none;
	border-left:none;}
.xl68
	{mso-style-parent:style0;
	color:#ED7D31;
	font-size:16.0pt;
	font-weight:700;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:1.5pt solid #ED7D31;
	border-right:1.5pt solid #ED7D31;
	border-bottom:none;
	border-left:none;}
.xl69
	{mso-style-parent:style0;
	color:#ED7D31;
	font-size:16.0pt;
	font-weight:700;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;
	text-align:center;}
.xl70
	{mso-style-parent:style0;
	color:#ED7D31;
	font-size:16.0pt;
	font-weight:700;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid #ED7D31;
	border-left:1.5pt solid #ED7D31;}
.xl71
	{mso-style-parent:style0;
	color:#ED7D31;
	font-size:16.0pt;
	font-weight:700;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid #ED7D31;
	border-left:none;}
.xl72
	{mso-style-parent:style0;
	color:#ED7D31;
	font-size:16.0pt;
	font-weight:700;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:none;
	border-right:1.5pt solid #ED7D31;
	border-bottom:1.5pt solid #ED7D31;
	border-left:none;}
.xl73
	{mso-style-parent:style0;
	color:#ED7D31;
	font-size:16.0pt;
	font-weight:700;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:1.5pt solid #ED7D31;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid #ED7D31;
	mso-diagonal-up:1.5pt solid #ED7D31;}
.xl74
	{mso-style-parent:style0;
	color:#ED7D31;
	font-size:16.0pt;
	font-weight:700;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:1.5pt solid #ED7D31;
	border-right:none;
	border-bottom:none;
	border-left:none;
	mso-diagonal-up:1.5pt solid #ED7D31;}
.xl75
	{mso-style-parent:style0;
	color:#ED7D31;
	font-size:16.0pt;
	font-weight:700;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:1.5pt solid #ED7D31;
	border-right:1.5pt solid #ED7D31;
	border-bottom:none;
	border-left:none;
	mso-diagonal-up:1.5pt solid #ED7D31;}
.xl76
	{mso-style-parent:style0;
	color:#ED7D31;
	font-size:16.0pt;
	font-weight:700;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid #ED7D31;
	border-left:1.5pt solid #ED7D31;
	mso-diagonal-up:1.5pt solid #ED7D31;}
.xl77
	{mso-style-parent:style0;
	color:#ED7D31;
	font-size:16.0pt;
	font-weight:700;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid #ED7D31;
	border-left:none;
	mso-diagonal-up:1.5pt solid #ED7D31;}
.xl78
	{mso-style-parent:style0;
	color:#ED7D31;
	font-size:16.0pt;
	font-weight:700;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:none;
	border-right:1.5pt solid #ED7D31;
	border-bottom:1.5pt solid #ED7D31;
	border-left:none;
	mso-diagonal-up:1.5pt solid #ED7D31;}
.xl79
	{mso-style-parent:style0;
	color:#ED7D31;
	font-size:16.0pt;
	font-weight:700;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:none;
	border-right:1.5pt solid #ED7D31;
	border-bottom:none;
	border-left:1.5pt solid #ED7D31;}
.xl80
	{mso-style-parent:style0;
	color:#ED7D31;
	font-size:16.0pt;
	font-weight:700;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:1.5pt solid #ED7D31;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid #ED7D31;
	mso-diagonal-down:1.5pt solid #ED7D31;}
.xl81
	{mso-style-parent:style0;
	color:#ED7D31;
	font-size:16.0pt;
	font-weight:700;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:1.5pt solid #ED7D31;
	border-right:none;
	border-bottom:none;
	border-left:none;
	mso-diagonal-down:1.5pt solid #ED7D31;}
.xl82
	{mso-style-parent:style0;
	color:#ED7D31;
	font-size:16.0pt;
	font-weight:700;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:1.5pt solid #ED7D31;
	border-right:1.5pt solid #ED7D31;
	border-bottom:none;
	border-left:none;
	mso-diagonal-down:1.5pt solid #ED7D31;}
.xl83
	{mso-style-parent:style0;
	color:#ED7D31;
	font-size:16.0pt;
	font-weight:700;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid #ED7D31;
	border-left:1.5pt solid #ED7D31;
	mso-diagonal-down:1.5pt solid #ED7D31;}
.xl84
	{mso-style-parent:style0;
	color:#ED7D31;
	font-size:16.0pt;
	font-weight:700;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid #ED7D31;
	border-left:none;
	mso-diagonal-down:1.5pt solid #ED7D31;}
.xl85
	{mso-style-parent:style0;
	color:#ED7D31;
	font-size:16.0pt;
	font-weight:700;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:none;
	border-right:1.5pt solid #ED7D31;
	border-bottom:1.5pt solid #ED7D31;
	border-left:none;
	mso-diagonal-down:1.5pt solid #ED7D31;}
.xl86
	{mso-style-parent:style0;
	color:#ED7D31;
	font-size:16.0pt;
	font-weight:700;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:1.5pt solid #ED7D31;
	border-right:none;
	border-bottom:1.5pt solid #ED7D31;
	border-left:none;}
.xl87
	{mso-style-parent:style0;
	color:windowtext;
	font-size:16.0pt;
	font-weight:700;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid windowtext;
	border-left:1.5pt solid windowtext;}
.xl88
	{mso-style-parent:style0;
	color:windowtext;
	font-size:16.0pt;
	font-weight:700;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid windowtext;
	border-left:none;}
.xl89
	{mso-style-parent:style0;
	color:windowtext;
	font-size:16.0pt;
	font-weight:700;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:none;
	border-right:1.5pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
	border-left:none;}
.xl90
	{mso-style-parent:style0;
	color:white;
	font-size:16.0pt;
	font-weight:700;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:1.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid windowtext;
	background:black;
	mso-pattern:black none;}
.xl91
	{mso-style-parent:style0;
	color:white;
	font-size:16.0pt;
	font-weight:700;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:1.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:black;
	mso-pattern:black none;}
.xl92
	{mso-style-parent:style0;
	color:white;
	font-size:16.0pt;
	font-weight:700;
	font-family:"Arial Narrow", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:1.5pt solid windowtext;
	border-right:1.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:black;
	mso-pattern:black none;}
